@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.button {
  padding: $spacing-md;
  border-radius: $border-radius-lg;
  background-color: $gray-100;
  color: $gray-600;
  border: none;
  cursor: pointer;
  transition: all $transition-base;
  display: flex;
  align-items: center;
  justify-content: center;

  :global(.dark) & {
    background-color: $gray-800;
    color: $gray-400;
  }

  &:hover {
    background-color: $gray-200;

    :global(.dark) & {
      background-color: $gray-700;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
}
