@use './reset';
@use './variables' as *;
@use './mixins' as *;
@use './components';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

// 全局暗色模式支持
:global(.dark) {
  --background: #0a0a0a;
  --foreground: #ededed;
}
